
body{
 
    background: linear-gradient(to bottom, #FFFEF4, #FFFAC6);
    /* You can adjust 'to bottom' to achieve a different gradient direction */
    /* Additional CSS properties for sizing, positioning, etc. can be added */

}
.container {

    
     margin: 0 auto;
   }

   .tags {
     list-style-type: none;
     padding: 10px;
     margin: 10px;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content:center;
     
   }

   .tag {
     display: flex;
     flex-direction: row;
     align-items: center;
     margin-right: 10px; /* Adjust spacing between tags */
   }

   .pipe {
     color: red;
     margin: 0 5px; /* Adjust spacing around the pipe */
   }
